{{ if eq .chezmoi.os "darwin" }}

_toolprefix="$(brew --prefix 2>/dev/null)"
_ajpath="$_toolprefix/etc/profile.d/autojump.sh"
_aspath="$_toolprefix/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
_shpath="$_toolprefix/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
_fzfcpath="$_toolprefix/opt/fzf/shell/completion.zsh"
_fzfkbpath="$_toolprefix/opt/fzf/shell/key-bindings.zsh"

{{ else if eq .chezmoi.os "linux" }}

_toolprefix="/usr/share"
_ajpath="$_toolprefix/autojump/autojump.zsh"
_aspath="$_toolprefix/zsh-autosuggestions/zsh-autosuggestions.zsh"
_shpath="$_toolprefix/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
_fzfcpath="$_toolprefix/fzf/completion.zsh"
_fzfkbpath="$_toolprefix/fzf/key-bindings.zsh"

{{ else }}

_toolprefix=""
_ajpath="$_toolprefix/etc/profile.d/autojump.sh"
_aspath="$_toolprefix/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
_shpath="$_toolprefix/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
_fzfcpath="$_toolprefix/opt/fzf/shell/completion.zsh"
_fzfkbpath="$_toolprefix/opt/fzf/shell/key-bindings.zsh"

{{ end }}

# Autojump
[[ -f "$_ajpath" ]] && source "$_ajpath"

# zsh-autosuggestions
[[ -f "$_aspath" ]] && source "$_aspath"

# zsh-syntax-highlighting
[[ -f "$_shpath" ]] && source "$_shpath"

# pyenv init (root is in .zprofile)
if command -v pyenv >/dev/null 2>&1; then
{{ if eq .chezmoi.os "darwin" }}
  eval "$(pyenv init - zsh)"
{{ else if eq .chezmoi.os "linux" }}
  eval "$(pyenv virtualenv-init - zsh)"
{{ end }}
fi

# fzf — prefer its provided script
# command -v fzf >/dev/null 2>&1 && source <(fzf --zsh)
[[ -r "$_fzfcpath" ]] && source "$_fzfcpath"
[[ -r "$_fzfkbpath" ]] && source "$_fzfkbpath"
